<div class="columns">
    <div id="projects-container" class="column">
        <ul id="projects-list">Projects<a href="#" class="button"><i class="far fa-plus-square"></i></a>
            {{#each project}}
            {{/each}}
        </ul>

    </div>
    <div id="tasks-container" class="column">
        <ul id="tasks-list">Tasks<a href="#" class="button"><i class="far fa-plus-square"></i></a></ul>
             {{#each task}}
            {{/each}}
        </ul>
    </div>
    <div id="my-tasks-container" class="column">
        <ul id="my-tasks-list">My Tasks
             {{#each my-task}}
            {{/each}}
        </ul>
    </div>
</div>