<script src="../js/logIn.js"></script>

<div id="login-form">
    <div class="columns">
        <div class="column">
            <img id="logInImg"
                src="https://images.pexels.com/photos/3197390/pexels-photo-3197390.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=375&amp;w=630=">
        </div>
        <div class="column">
            <h2 class="title is-2 has-text-centered" id="logInTitle">Mothra</h2>
            <h3 class=" is-2 has-text-centered" id="tagline">Project Management Software</h3>


            <div class="field">
                <label class="label is-medium">Username</label>
                <div class="control has-icons-left">
                    <input id="username" class="input is-medium" type="text" placeholder="username">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label is-medium">Password</label>
                <div class="control has-icons-left">
                    <input id="password" class="input is-medium" type="password" placeholder="password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>

            <button id="sign-in" class="button submit is-medium">Sign In</button>
            <p id="error" class="is-size-4 has-text-weight-bold">Your email address or password is incorrect. Please try again.</p>
            <button id="create-account" class="button is-medium">Create Account</button>
        </div>

    </div>


</div>