<script src="js/newProject.js"></script>

<div class="container">
  <div class="column">

    {{!-- project name input --}}
    <div class="field">
      <label class="label">Project Name</label>
      <div class="control">
        <input class="input" id="new-project-name" type="text" placeholder="Project Name">
      </div>
    </div>

    {{!-- select team drop down --}}
    <div class="field">
      <label class="label">Assign Team (optional)</label>
      <div class="control">
        <div class="select">
          <select class="select-team">
            <option data-team-id="" id="selected-team">Select dropdown</option>
            {{!-- need list of teams here --}}
          </select>
        </div>
      </div>
    </div>

    {{!-- new project description --}}
    <div class="field">
      <label class="label">Project Description</label>
      <div class="control">
        <textarea class="textarea" id="new-project-description" placeholder="scope of the project"></textarea>
      </div>
    </div>

    {{!-- create a new task radio --}}
    <div class="field">
      <div class="control">
        <label class="radio">
          Create a new task next
          <input id="add-task" type="radio" name="question">
          Yes
        </label>
        <label class="radio">
          <input id="no-add-task" type="radio" name="question">
          No
        </label>
      </div>
    </div>

    {{!-- buttons --}}
    <div class="field is-grouped">
      <div class="control">
        <button id="newProjectSubmit" class="button is-link submit-button">Submit</button>
      </div>
      <div class="control">
        <button class="button is-link is-light cancel-button">Cancel</button>
      </div>
    </div>

  </div>
</div>