<script src="js/newTask.js"></script>

<div class="container">
    <div class="column">

        {{!-- task name input --}}
        <div class="field">
            <label class="label">Task Name</label>
            <div class="control">
                <input id= "new-task-name" class="input" type="text" placeholder="Task Name">
            </div>
        </div>

        {{!-- select project drop down --}}
        <div class="field">
            <label class="label">Assign to a Project</label>
            <div class="control">
                <div class="select">
                    <select class="select-project">
                        <option data-project-id="" id="selected-project">Select Project</option>
                        {{!-- need list of availble projects here --}}
                    </select>
                </div>
            </div>
        </div>

        {{!-- select team drop down --}}
        <div class="field">
            <label class="label">Assign to a User</label>
            <div class="control">
                <div class="select">
                    <select class="select-user">
                        <option data-user-id="" id="selected-user">Select User</option>
                        {{!-- need list of users from assigned team here --}}
                    </select>
                </div>
            </div>
        </div>

        {{!-- new task detail --}}
        <div class="field">
            <label class="label">Task Detail</label>
            <div class="control">
                <textarea id="new-task-description" class="textarea" placeholder="Task Detail"></textarea>
            </div>
        </div>

        {{!-- buttons --}}
        <div class="field is-grouped">
            <div class="control">
                <button id="new-task-submit" class="button is-link submit-button">Submit</button>
            </div>
            <div class="control">
                <button id="cancel" class="button is-link is-light cancel-button">Cancel</button>
            </div>
        </div>

    </div>
</div>