<div class="field">
  <label class="label">User Name</label>
  <div class="control">
    <input id="user-name" class="input" type="text" placeholder="e.g Alex Smith">
  </div>
</div>

<div class="field">
  <label class="label">First Name</label>
  <div class="control">
    <input id="first-name" class="input" type="text" placeholder="e.g Alex Smith">
  </div>
</div>

<div class="field">
  <label class="label">Last Name</label>
  <div class="control">
    <input id="last-name" class="input" type="text" placeholder="e.g Alex Smith">
  </div>
</div>

<div class="field">
  <label class="label">Team</label>
  <div class="control">
    <div id= "team" class="select">
      <select>
        <option>{{ }}</option>
        <option>{{ }}</option>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="radio">
      <input type="radio" name="question">
      Yes
    </label>
    <label class="radio">
      <input type="radio" name="question">
      No
    </label>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
  <div class="control">
    <button class="button is-link is-light">Back</button>
  </div>
</div>