<div class="container">
    <div id="projects-tasks-status-container">
        <div class=" content has-text-centered">
            <h2>Task Stats</h2>
        </div>
        <div class="box has-text-centered">
            <canvas id="myChartTeamProjects"></canvas>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="js/stats.js"></script>

</div>