<div id="projects-container" class="column">
    <div class="content has-text-centered">
        <h2>Overall Team Project Status Stats</h2>
    </div>
    <div class="box has-text-centered">
        <canvas id="myChartTeamProjects">{{chart}}</canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="public/js/stats.js"></script>
    </div>
</div>