<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Planner Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
    <link rel="stylesheet" href="public/assets/css/style.css"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- <script src="LINK TO public/assets/js... JS FILE"></script> --}}
</head>

<body>
    {{{ body }}}
</body>

</html>